name: CI/CD

on:
  push:
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -q --no-cache-dir -e .[complete]
        python -m pip list
    - name: Lint with flake8
      if: matrix.python-version == 3.7 && matrix.os == 'ubuntu-latest'
      run: |
        flake8 .
    - name: Lint with Black
      if: matrix.python-version == 3.7 && matrix.os == 'ubuntu-latest'
      run: |
        black --check --diff --verbose .
    - name: Check MANIFEST
      if: matrix.python-version == 3.7 && matrix.os == 'ubuntu-latest'
      run: |
        check-manifest
    - name: Test with pytest
      run: |
        python -m pytest -r sx tests
    - name: Report coverage with Codecov
      if: github.event_name == 'push' && matrix.python-version == 3.7 && matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@master
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests

  test-ROOT-6_20-Py-3_7:

    runs-on: ubuntu-latest
    container: pyhf/pyhf-validation-root-base:root6.22.02-python3.8

    steps:
    - uses: actions/checkout@master
    - name: Install utilities
      # git init done as the .git directory seems
      # to be missing after the checkout
      run: |
        apt-get -qq -y update
        apt-get -qq -y install shellcheck
        git init .
    - name: Lint with Shellcheck
      run: |
        shellcheck tests/*.sh
        shellcheck scripts/*.sh
    - name: Install dependencies
      run: |
        python -m pip install --upgrade --no-cache-dir pip setuptools wheel
        python -m pip install -q --no-cache-dir -e .[complete]
        python -m pip list
    - name: Test with pytest
      run: |
        python -m pytest -r sx tests
    - name: Generate ROOT workspace from JSON
      run: |
        bash scripts/JSON_to_workspace.sh \
          sbottom \
          https://doi.org/10.17182/hepdata.89408.v1/r2 \
          RegionA/BkgOnly.json \
          RegionA/patch.sbottom_1300_205_60.json \
          RegionA/sbottom_1300_205_60.json
    - name: Test workspace comparison
      run: |
        bash tests/test_suite.sh \
          sbottom/xml/config/FitConfig_combined_NormalMeasurement_model.root \
          sbottom/workspaces/RegionA/sbottom_1300_205_60.json

  docker:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build Docker image
      if: "!(startsWith(github.ref, 'refs/tags/'))"
      uses: docker/build-push-action@v1
      with:
        repository: pyhf/pyhf-validation
        dockerfile: docker/Dockerfile
        tag_with_sha: true
        tag_with_ref: true
        push: false
    - name: List built images
      run: docker images
